---
#Main css file
---

@import "materialize";
@import "syntax-highlighting";

/* Color scheme */
$primary : $brown;
$accent: $deep-orange;
$dark-text: map-get($blue-grey, darken-2);
$light-text: #FFF;

html {
	overflow-x: hidden;
	color: $dark-text;
}

$custom_colors: (
	"primary" : $primary,
	"accent" : $accent
);

@each $color_name, $color in $custom_colors {
	@each $color_type, $color_value in $color {
		@if $color_type == "base" {
			.#{$color_name} {
				background-color: $color_value !important;
			}
			.#{$color_name}-text {
				color: $color_value !important;
			}
	}
	@else {
		.#{$color_name}.#{$color_type} {
			background-color: $color_value !important;
		}
		.#{$color_name}-text.text-#{$color_type} {
			color: $color_value !important;
		}
}
}
}
.dark-text{
	color:$dark-text !important;
}
.light-text{
	color:$light-text !important;
}
code{
	background-color: rgba(0,0,0,0.05);
	border-radius:1px;
	display:inline-block;
	margin:0;
	padding:4px 8px;
}
pre{
	margin:0;
	width:100%;
	code{
		width:100%;
	}
}
a{
	color:map-get($accent, base);
	text-decoration: bold;
	&:hover{
		color:map-get($accent, lighten-2);
	}
}
#preloader {
	position: fixed;
	z-index: 1000;
	width: 100%;
	margin: 0;
	.progress {
		margin: 0;
	}
}

.page-contents {
	height: auto;
	margin: 0;
	padding: 0;
}

blockquote {
	border-color: map-get($accent,base);
}

nav {
	ul.desktop-navigation li {
		&.active, &:hover, &.waves-effect:hover {
			background: transparent;
		}
		&.active {
			border-bottom: 3px solid map-get($primary,base);
			height: 64px;
		}
	}
	ul.desktop-navigation li a{
		color: $dark-text;
	}
	a {
		img {
			max-height: 64px;
			padding: 12px;
			max-width: 100%;
		}
		max-width: 70%;
	}
}
.side-nav, .side-nav.fixed{
	.collapsible-header{
		font-weight:bold;
		max-width:100%;
		margin:0;
		&.active{
			background-color: #fff;
			color:$dark-text !important;
		}
		color:$dark-text;
	}
	.collapsible-body{
		margin:0;
		li{
			a{
				margin:0;
				max-width:100%;
				color:$dark-text;
			}
			&.active{
				background-color: map-get($primary,base);
				a{
					color:$dark-text;
				}
				> a{
					color:$light-text;
				}
			}
		}
	}
	li{
		line-height:50px;
		margin:0;
		width:100%;
		&:hover{
			background-color: inherit;
		}
		&.active{
			background-color: map-get($primary,base);
			> a{
				color:$light-text;
			}
		}
		a{
			line-height:50px;
			height:50px;
			margin:0;
		}
	}
}

/*nav ul.desktop-navigation li:hover a {
border-bottom:3px solid rgba(255,255,255,0.5);
padding:16px 20px 7px 20px;
line-height:32px;
margin-bottom: 6px;
}*/

.top-div {
	.valign-wrapper {
		min-height: 350px;
		height: 100vh;
	}
	h1 {
		padding: 50px 0 50px 0;
		margin: 0;
		list-style-type: circle;
	}
	ul {
		padding-top: 60px;
		margin-left: 0;
		padding-left: 3em;
		list-style-position: outside;
		font-size: 16px;
	}
	li {
		display: inline;
		padding: 40px 10px 40px 10px;
		&:before {
			content: "\2605";
		}
	}
	.download-btn:hover {
		background: rgba(255, 255, 255, 0.1);
	}
}

.valign {
	width: 100%;
}

.features-div {
	padding: 40px 0;
	.row {
		padding: 30px 0;
	}
	img {
		padding: 30% 18%;
		height: auto;
	}
}

.fade-ins {
	opacity: 0;
}

.mce_inline_error {
	background-color: transparent !important;
}

.nxt-div {
	padding: 75px 0;
	margin: -20px;
}

.wallet-div {
	padding: 25px 0;
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1);
	}

	50% {
		-webkit-transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.5);
	}
}


@keyframes pulsate {
	0% {
		transform: scale(0.1);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.5);
	}
}


@-moz-keyframes pulsate {
	0% {
		-moz-transform: scale(0.1);
	}

	50% {
		-moz-transform: scale(1);
	}

	100% {
		-moz-transform: scale(0.5);
	}
}


.pulsate {
	-webkit-animation: pulsate 2s infinite linear;
	-moz-animation: pulsate 2s infinite linear;
	-ms-animation: pulsate 2s infinite linear;
	animation: pulsate 2s infinite linear;
}

/* Docs menu */

footer.docs-footer{
	padding-left: 240px;
}
#docs-content{
	padding: 10px;
	padding-left: 250px;
}

@media only screen and (max-width: 992px) {
	footer.docs-footer{
		padding-left: 240px;
	}
	#docs-content{
		padding: 5px;
		padding-left: 5px;
	}
}

a.site-title {
	font-size: 24px;
	padding-left: 6px;
}

/* indigo ripple */

.waves-effect{
	.waves-ripple {
		background-color: rgba(map-get($accent,base), 0.65);
	}
}