</main>
<footer class="page-footer primary {% if docsPage == true %} docs-footer {% endif %}">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="primary-text text-lighten-4">
					{{ site.title }}
				</h5>
                <p class="primary-text text-lighten-3">
					{{ site.description }}
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="primary-text text-lighten-4">Useful links</h5>
				<ul>
					<li><a class="primary-text text-lighten-3" href="#!">Docs</a></li>
					<li><a class="primary-text text-lighten-3" href="#!">Forum</a></li>
					<li><a class="primary-text text-lighten-3" href="#!">Blog</a></li>
					<li><a class="primary-text text-lighten-3" href="#!">Downloads</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container primary-text text-lighten-3">
			© 2015 @ irontiga
		</div>
	</div>
</footer>