<div id='preloader'>
	<div class="progress white">
		<div class="indeterminate primary"></div>
	</div>
</div>

<div id='page-body'>
	<div id='page-body-inner'>

		<header class="site-header">
			<div class='navbar-fixed'>
				<nav>
					<div class="nav-wrapper white">
						<div class='container'>
							<a href="{{site.baseurl}}/" class="internal-link brand-logo">
								<img src='{{ site.baseurl }}/img/logo.png'>
							</a>
							<a data-activates="mobile-demo" class="button-collapse"><i class="blue-grey-text material-icons">menu</i></a>
							<ul class="right hide-on-med-and-down desktop-navigation">
								{% assign navType = 'desktop' %}
								{% include nav.html %}
							</ul>
						</div>
						<ul class="side-nav" id="mobile-demo">
							{% assign navType = 'mobile' %}
							{% include nav.html %}
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<main>