<!-- page-body div for fast page switching excluding scripts and css-->
	</div>
</div>

<!-- jQuery is required by Materialize to function -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/materialize.min.js"></script>
<script type="text/javascript">
	//custom JS code
	$(document).ready(function(){
		$('.materialboxed').materialbox();
		$('.button-collapse').sideNav({closeOnClick: true});
		$("#preloader").fadeOut(600).hide();
	});
	
	
	// Page changing
	
	//Function
	function changePage(href){
		$("#preloader").show();
		$('#page-body').load(href + " #page-body-inner", function(){

			// Re activate plugins
			$('.collapsible').collapsible({
				accordion : true
			});
			$('.button-collapse').sideNav({closeOnClick: true});
			
			
			// Ditch loader and show page
			$("#preloader").hide();
		});
	}
	// Link click
	$(document).on("click", ".internal-link", function(e){
		if (typeof(window.history.pushState) === typeof(Function)){
			$("#preloader").show();
			e.preventDefault();
			var href = $(this).attr("href");
			history.pushState(null, null, href);
			//changePage(href);
			
			changePage(href)
			/*
			$("#page-body").load( href + " #page-body-inner",function(){
				$("#loader").hide();
			});*/
		}
	});
	
	// Browser back button
	window.onpopstate = function(e){
		changePage("http://irontiga.com" + location.pathname)
	};
	
</script>