
	{% for node in site.pages %}
		{% if node.group == include.group.group %}
			<li class="{% if node.url == page.url %}active{% endif %}">
				<a class="blue-grey-text" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
	
	
	{% if include.group.subgroups %}
		{% for subgroup in include.group.subgroups %}
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="blue-grey-text collapsible-header">{{subgroup.title}}<i class="mdi-navigation-arrow-drop-down"></i></a>
						<div class="collapsible-body">
							<ul>
								{% include nav-mobile.html group = subgroup %}
							</ul>
						</div>
					</li>
				</ul>
			</li>
		{% endfor %}
	{% endif %}
