
	{% for node in site.pages %}
		{% if node.group == include.group.group %}
			<li class="waves-effect {% if node.url == page.url %} active {% endif %}">
				<a class="internal-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
			</li>
		{% endif %}
	{% endfor %}
	
	
	{% if include.group.subgroups %}
		<li class="no-padding">
			<ul class="collapsible" data-collapsible="accordion">
				{% for subgroup in include.group.subgroups %}
					<li>
						<div class="collapsible-header waves-effect {% if page.url contains subgroup.group %} active {% endif %}">
							{{subgroup.title}}
							{% if navType != 'docs' %}
								<i class="mdi-navigation-arrow-drop-down"></i>
							{% endif %}
						</div>
						<div class="collapsible-body">
							<ul>
								{% include nav-mobile.html group = subgroup %}
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endif %}
