{% for node in pages_list %}
	{% if group == node.group %}
		{% if node.subgroup == null %}
			{% if page.url == node.url%}
				<li class="active waves-effect waves-blue"><a class='blue-grey-text internal-link' href="{{node.url}}" class="active">{{node.title}}</a></li>
			{% else %}
				<li class=' waves-effect waves-blue'><a class='blue-grey-text internal-link' href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a></li>
			{% endif %}
		{%else%}
			<!-- Dropdown -->
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible-header waves-effect waves-blue sidebar-dropdown-title">{{node.title}}<i class="mdi-navigation-arrow-drop-down"></i></a>
						<div class="collapsible-body">
							<ul>
								{% for subnode in pages_list %}
									{% if node.subgroup == subnode.group %}
										{% if page.url == subnode.url | prepend: site.baseurl %}
											<li class="active blue waves-effect waves-blue"><a class='white-text internal-link' href="{{subnode.url | prepend: site.baseurl}}" class="active">{{subnode.title}}</a></li>
										{% else %}
											<li class='waves-effect waves-blue'><a class='blue-grey-text internal-link' href="{{subnode.url | prepend: site.baseurl}}">{{subnode.title}}</a></li>
										{% endif %}
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
			</li>
		{% endif %}
	{% endif %}
{% endfor %}

{% assign pages_list = nil %}

{% assign group = nil %}