---
layout: default
title: Blog
---

<div class="container">

	<h3>Blog</h3>
	<hr>

	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
	<h2 class='thin indigo-text'><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<p class="author">
		<span class="date">{{ post.date }}</span>
	</p>
	<div class="content">
		{{ post.content }}
	</div>
	{% endfor %}

	<!-- Pagination links -->
	{% if paginator.total_pages > 1 %}
	<div class="center">
		{% if paginator.previous_page %}
		<a class="btn-floating btn-large waves-effect waves-light indigo" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
		{% else %}
		<a class="disabled btn-floating btn-large waves-effect waves-light indigo">&laquo;</a>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<a class="btn-floating btn-large waves-effect waves-light indigo-text white">{{ page }}</a>
		{% elsif page == 1 %}
		<a class="btn-floating btn-large waves-effect waves-light indigo" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
		<a  class="btn-floating btn-large waves-effect waves-light indigo" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<a class="btn-floating btn-large waves-effect waves-light indigo" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
		{% else %}
		<a class="disabled btn-floating btn-large waves-effect waves-light indigo">&raquo;</a>
		{% endif %}
	</div>
	{% endif %}
	
	
	
</div>