<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>

		{% include header.html %}
		<div id='docs-page'>
			<ul id="docs-menu" class="side-nav fixed" style="top:64px;">
				<li><a><small><b>Documentation</b></small></a></li>
				{% assign pages_list = site.pages %}
				{% assign group = 'docs' %}
				{% include pages_list.html %}
			</ul>
			<div id='docs-content'>
				<a data-activates="docs-menu" class="button-collapse hide-on-large-only"><i class="material-icons blue-grey-text">more_vert</i></a>
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
		
		{% include jsLinks.html %}
	</body>

</html>
